/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to index a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$link: #444;
$link-hover: #222;

@import "bulma";
@import "functions";
@import "carts";
@import "devise";

.navbar {
  background: #17aa8d;
  .nav-title {
    color: white;
  }
  .session-link {
    color: white;
    font-weight: bolder;
    &:hover {
      background-color: transparent;
      border: none;
      color: wheat;
      outline: none;
      text-decoration: underline;
    }
  }
  .account-link {
    color: white;
    font-weight: bold;
    &:hover {
      color: black;
    }
  }
}
.notification {
  border-radius: 0;
  width: 20rem;
  height: 4rem;
  z-index: 99;
  position: fixed;
  bottom: 5px;
  left: 5px;
}

.notification:not(:last-child) {
  margin-bottom: 0;
}
.navbar-sell {
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: .125rem;
}

.instrument-index-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));

  .instrument {
    border-left: 0;
    border-top: 0;
    position: relative;
    min-height: 375px;
    margin: 10px;

    .title {
      line-height: 1.6rem;
    }
    .price {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }

  .instrument-thumb {
    position: relative;
    max-height: 150px;
    overflow: hidden;

    img {
      width: 100%;
      height: 10rem;
      object-fit: cover;
      object-position: center;
      &:hover {
        opacity: .9;
      }
    }

    .condition {
      position: absolute;
      bottom: 10px;
      right: 9px;
    }
  }
}
.button:hover {
  color: white;
}
